# This workflow will upload a Python Package using Twine when a release is created
# For more information see: https://help.github.com/en/actions/language-and-framework-guides/using-python-with-github-actions#publishing-to-package-registries

# This workflow uses actions that are not certified by GitHub.
# They are provided by a third-party and are governed by
# separate terms of service, privacy policy, and support
# documentation.
---
name: Upload Python Package

on:
  release:
    types: [published]
  workflow_dispatch:

jobs:
  deploy:

    runs-on: ubuntu-latest

    steps:
    - name: Free space in hosted agent
      run: |
        sudo rm -rf "/usr/local/share/boost"
        sudo rm -rf "$AGENT_TOOLSDIRECTORY"

    - uses: actions/checkout@v2

    - name: Set up Python
      uses: actions/setup-python@v2
      with:
        python-version: '3.9'

    - name: Install dependencies
      run: |
        python -m pip install --upgrade pip
        pip install build tensorflow

    - uses: ammaraskar/sphinx-action@master
      with:
        pre-build-command: apt-get install -y pandoc
        docs-folder: docs/

    - uses: ammaraskar/sphinx-action@master
      with:
        pre-build-command: apt-get --allow-releaseinfo-change update -y && apt-get
          install -y latexmk texlive-latex-recommended texlive-latex-extra
          texlive-fonts-recommended imagemagick
        build-command: make latexpdf
        docs-folder: docs/

    - uses: actions/upload-artifact@v2
      if: "contains(github.event.head_commit.message, 'save artifact')"
      with:
        name: DocumentationHTML
        path: docs/build/html/

    - uses: actions/upload-artifact@v2
      if: "contains(github.event.head_commit.message, 'save artifact')"
      with:
        name: Documentation
        path: docs/build/latex/tensorflow3d-transforms.pdf

    - name: Build package
      run: python -m build

    - name: Publish package
      uses: pypa/gh-action-pypi-publish@27b31702a0e7fc50959f5ad993c78deac1bdfc29
      with:
        user: __token__
        password: ${{ secrets.PYPI_API_TOKEN }}
